<div class="window">
  <div class="welcome-container">
    <h1>
      Welcome to myMovieFlix!
    </h1>
    <!-- adding a click event on the signup button -->
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px; margin-top: 10px;"
      color="primary">
      Sign Up
    </button>
    <!-- adding a click event on the login button -->
    <button mat-raised-button (click)="openLoginDialog()" style="margin-right: 10px; margin-top: 10px;" color="primary">
      Login
    </button>
  </div>
</div>